*{
  margin: 0;
  padding: 0;
  font-family: monospace;
}
body {
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(rgb(66, 66, 66) 1px, transparent 1px);
  background-size: 20px 20px;
  padding: 1rem;
  background-color: #222;
}

.wrapper {
  width: 600px;
  height: 600px;
}

#container {
  height: 500px;
  overflow: visible;
  padding: 0;
  position: relative;
}

.box {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  width: 50px;
  height: 50px;
  color: #222;
  background-color: Orange;
  position: absolute;
  top: 0;
}

p {
  max-width: 70ch;
}

.controls {
  background-color: #222;
  border: 1px solid #555;
  color: #bbb;
  font-size: 18px;
  margin: 20px 0;
}
.controls ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.controls li {
  display: inline-block;
  padding: 8px 0 8px 10px;
  margin: 0;
}
.controls input {
  vertical-align: middle;
  cursor: pointer;
}
.controls .controlsTitle {
  border-right: 1px solid #555;
  border-bottom: none;
  padding-right: 10px;
}
 
/* MY STUFF */

input[type="range"]{
 -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  background: Orange;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2px; 
  height: 8px;
  background: Orange; 
  cursor: pointer;
  transition: 75ms;
}

#rangeX{
  position: absolute;
  width: 200px;
  top: 250px;
  left: 150px;
}
#rangeY{
  position: absolute;
  transform: rotateZ(90deg);
  width: 200px;
  top: 350px;
  left: 50px;
}

.menu{
  display: flex;
  flex-direction: row;
  font-family: monospace;
  color: Orange;
  font-weight: 100;
  gap: 30px;
  h1{
    margin: 15px 0 25px 0;
  }
  p{
    margin: 8px 0;
    padding: 0px 0 0 8px;
    border-left: Orange 2.5px solid;
  }
  > div{
    padding: 10px;
    border: rgba(255, 166, 0, 0) 1px solid;
  }
  div:nth-child(1){
    min-width: 330px;
    h1{
      min-width: 380px;
    }
  }
  div:nth-child(2){
    margin-left: -80px;
    min-width: 250px;
  }
  div:nth-child(3){
    margin-left: -30px;
    min-width: 250px;
  }
  div:nth-child(4){
    margin-left: -30px;
    min-width: 175px;
  }
}

input[type=number] {
  position: relative; 
  padding: 3px;
  padding-right: 25px;
  width: 20px;
  background-color: #222;
  border: Orange 1px solid;
  color: Orange;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid Orange;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

button{ 
  position: relative; 
  padding: 3px 10px 3px 8px; 
  background-color: #222222;
  border: Orange 1px solid;
  color: Orange;
  cursor: pointer;
  font-weight: 100;
}

input[type=checkbox] {
  position: relative; 
  padding: 3px;
  width: 15px;
  height: 15px;
  background-color: #222;
  filter: hue-rotate(170deg) brightness(1.8);
}

input[type=number]:focus, button:active {
  border: Orange 1px solid;
  box-shadow: inset 0 0 0 1px Orange; 
  background-color: #555;
  border-radius: 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: inner-spin-button !important;
  opacity: 1;
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

#dot{
  position: absolute;
  /* ↓ these values are essentially useless, to edit them go to the js file*/
  top: 250px;
  left: 150px;
  transform: none;
  transition: 50ms;

  div{
    width: 1px;
    height: 12px;
    background-color: Orange;
  }
  div:nth-child(1){ /*horizontal*/
    transform: rotate(90deg);
  }
  div:nth-child(2){ /*vertical*/
    transform: translateY(-12px);
  }
  div:nth-child(3){ /*circle*/
    width: 6px;
    height: 6px;
    background-color: transparent;
    border: #ffa500 1.2px solid;
    border-radius: 100%;
    transform: translate(-3.6px, -22.3px);
  }
}

.playground{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-120px , -1px);
}

.mark {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: Orange;
  border-radius: 100%;
  cursor: pointer;
  transform: translate( -2px, 3.2px);
  transition: 250ms ;
}
.mark:hover{
  transform: translate( -2px, 3.2px) scale(2.5);
  filter: blur(1px) contrast(2);
  z-index: 10000;
}

.apple{
  background-color: red;
  transition: 0ms;
}

.snake{
  background-color: örange;
  transition: 200ms;
  width: 10px;
  height: 6px;
  border-radius: 30%;
  transform: translate( -5px, 3.2px);
  filter: blur(0.5px) ;
}

.toggleable{
  display: block;
}
#uploadBackground{
  position: absolute;
  top: 250px;
  left: 150px;
  z-index: -50;
}

.popUp{
  position: absolute;
  max-width: 150px;
  max-height: 75px;
  border: orange 1px solid;
  top: 210px;
  left: 45px;
  font-family: monospace;
  font-weight: 1;
  color: orange;
  background-color: #222222b9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

@media (max-width: 1015px) {
  .menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    div:nth-child(4){
      margin-left: 0px;
      margin-top: -90px;
      min-width: 205px;
    }
  }
  .playground{
    transform: translate(-120px , 100px);
  }
}
@media (max-width: 925px) {
  .menu{
    div:nth-child(3){
      margin-left: 0px;
      margin-top: -90px;
      min-width: 205px;
    }
    div:nth-child(4){
      margin-left: 49px;
      margin-top: -90px;
      min-width: 205px;
    }
  }
}

.snakeGameBorder{
  position: absolute;
  top: 170px;
  left: 29px;
  width: 200px;
  height: 200px;
  border-bottom: #ffa60040 2px solid;
  border-right: #ffa60040 2px solid;
}